.grad {
    text-transform: uppercase;
	background: -webkit-linear-gradient(right, #FF3BFF, #ECBFBF, #5C24FF, #D94FD5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
}